.tab {
float: left;
border: 1px solid #ccc;
background-color: #f1f1f1;
width: 10%;
height: 300px;
}
/* Стиль кнопок, которые используются для открытия содержимого вкладки */
.tab button {
display: block;
background-color: inherit;
color: black;
padding: 15px 5px;
width: 100%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
}
/* Изменить цвет фона кнопок при наведении */
.tab button:hover {
background-color: #ddd;
}
/* Создать класс активная/текущая "tab button" */
.tab button.active {
background-color: #ccc;
}
/* Стиль содержимого вкладки */
.tabcontent {
float: left;
padding: 0px 12px;
border: 1px solid #ccc;
width: 89%;
border-left: none;
height: 488px;
display: none;
}
