.overlay {
    height: 0%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e6eed8;
    overflow-y: hidden;
    transition: 1.2s;
}
.overlay-content {
    position: relative;
    top: 1%;
    width: 100%;
    text-align: center;
}
.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(6, 3, 36);
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: black;
}
.overlay .closebtn { z-index: 3;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 45px;
}

.overlaypr {
    height: 0%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 50%;
    background-color: #e6eed8;
    overflow-y: hidden;
    transition: 1.2s;
}
.overlaypr-content {
    position: relative;
    top: 1%;
    width: 100%;
    text-align: center;
}
.overlaypr a {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(6, 3, 36);
    display: block;
    transition: 0.3s;
}
.overlaypr a:hover,
.overlaypr a:focus {
    color: black;
}
.overlaypr .closebtn { z-index: 3;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 45px;
}

